.background-login{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;

  /* Primary/500 */
  background-color: aquamarine;
  background: url('../assets/images/Background\ Carboneek\ 1.png');
  background-size: cover;
  background-position: center;
  mix-blend-mode: multiply;
  opacity: 1;

}
