.button-cadastrar{
  width: 12rem;
  height: 3.2rem;
  color: #FFFFFF;
    /* Primary/500 */
  background: #006635;
  border-radius: 10px;
  border: none;
  margin-right: 2rem;
  &:hover{
    background: #013a1e;
  }
}
