


  <table class="table ">
    <thead>
      <tr class="header-table">
        <th scope="col" class="borda1">Razão Social</th>
        <th scope="col">CNPJ</th>
        <th scope="col">Responsável</th>
        <th scope="col" class="borda2">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Empresa01</th>
        <td>23.275.231/0001-03</td>
        <td>Nome do Responsável</td>
        <td class="d-flex justify-content-evenly">
          <img src="../../../../assets/images/Vector (3).png" alt="">
          <img src="../../../../assets/images/Vector(4).png" alt="">
          <img src="../../../../assets/images/Vector(5).png" alt="">
        </td>
      </tr>
      <tr>
        <th scope="row">Empresa02</th>
        <td>23.275.231/0001-03</td>
        <td>Nome do Responsável</td>
        <td class="d-flex justify-content-evenly">
          <img src="../../../../assets/images/Vector (3).png" alt="">
          <img src="../../../../assets/images/Vector(4).png" alt="">
          <img src="../../../../assets/images/Vector(5).png" alt=""></td>
      </tr>
      <tr>
        <th scope="row">Empresa03</th>
        <td>23.275.231/0001-03</td>
        <td>Nome do Responsável</td>
        <td class="d-flex justify-content-evenly">
          <img src="../../../../assets/images/Vector (3).png" alt="">
          <img src="../../../../assets/images/Vector(4).png" alt="">
          <img src="../../../../assets/images/Vector(5).png" alt="">
        </td>
      </tr>
    </tbody>
  </table>


