<div class="d-flex flex-column flex-shrink-0 style-sidebar">
  <a href="/" class="d-flex align-items-center justify-content-center mb-3 mb-md-0 link-ligth text-decoration-none">
    <img src="../../../assets/images/Logo 2.png" alt="logo carboneek" class="img-fluid mt-2">
  </a>
  <div class="linha"></div>
  <ul class="nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="link-ligth" aria-current="page">
        <i class="bi bi-building"></i>
        Empresas
      </a>
    </li>
    <li>
      <a href="#" class="link-ligth">
        <i class="bi bi-person-fill bi-"></i>
        Colaboradores
      </a>
    </li>
    <li>
      <a href="#" class="link-ligth">
        <i class="bi bi-calendar3"></i>
        Histórico
      </a>
    </li>

  </ul>


</div>
