.fundo-adm{
  background-image: url('../../assets/images/pexels-pixabay-158827\ 1.png');

  position: absolute;
  background-size: cover;
  background-position: center;
  mix-blend-mode: multiply;
  opacity: 1;

}
