.fundo-adm{
  background-image: url('../../assets/images/pexels-pixabay-158827\ 1.png');
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;

}
