<div class="card-login d-flex justify-content-center align-items-center">
  <div class="card-login-content img-fluid">
    <img src="../../assets/images/Logo 1.png" alt="" class="mt-5 img-fluid d-flex mb-custom">
    <form action="" class="d-flex flex-column form-style align-items-center">
      <input type="text" placeholder="E-mail" class="p-2">
      <input type="password" placeholder="Senha" class="p-2 mt-3">
      <p class="mt-2">Redefinir senha</p>
      <button class="img-fluid">Login</button>
    </form>
    <img src="../../assets/images/Logo-Inteiro-Trans-Preto 1.png" alt="" class="d-flex mt-3 img-fluid">
  </div>

</div>
